:root {
  --pastel-green: #dff0bb;
  --background-green: #c0d470;
  --dark-green: #67835c;
  --white-green: #f7ffe7;
}
body {
  margin: 0;
  font-family: 'Pixel-font', sans-serif;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'Pixel-font';
  src: url('./fonts/PixelifySans-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}
